[class*="base-box"]{
	/* COLORS */
		&[class*="--white"]{
			background-color: @color_white;
		}

	/* RADIUS */
		&[class*="--radius"]{
			border-radius: @border_radius;
			overflow: hidden;
		}
		&[class*="--radius-top"]{
			border-radius: @border_radius @border_radius 0 0;
		}
		&[class*="--radius-bottom"]{
			border-radius: 0 0 @border_radius @border_radius;
		}
		&[class*="--radius"]{
			/* remove border-radius on mobile */
			@media (max-width: @screen-sm-min) {
				border-radius:0;
			}
		}
		
		&[class*="--no-radius-mobile"]{
			@media (max-width: @screen-sm-min) {
				border-radius: 0;
			}
		}
	/* SHADOW */
		&[class*="--shadow"]{
			box-shadow: 0px 0px 3px @color_shadows;
		}

	/* PADDING */
		&[class*="--padding"]{
			padding:@size_M;
		}
		&[class*="--padding-S"]{
			padding: @size_M @size_S;
		}

	/* PARAGRAPH LINK */
		&[class*="--paragraph-link"] a{
			font-weight: inherit;
			color: inherit;
			font-size: inherit
		}
}