.breadcrumb{
    
    padding: 25px 0;
    color: #000;
    font-weight: normal;
    font-size: 13px;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: -15px;
    }

    li{
        float: left;
        margin-left: 15px;

        &:after{
            font-family: '@{font-icon}';
            content: "\e80f";
            margin-left: 15px;
            font-size: 10px;
        }

        &:last-child:after{
            content: "";
        }
    }

    a{
        color: #000;
        font-weight: normal;

        &:hover{
            text-decoration: underline;
        }
    }



}