[class*="ww-button"], .button-code{
	display:inline-block;
	padding: 13px 20px;
	background-color:@color_temp;
	color:@color_white;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	border-radius: @border_radius;
	border:0;
	text-shadow: 1px 1px 2px @color_shadows;
	margin:0 0 @size_S 0;

	& + [class*="ww-button"],
    & + .button-code{
		margin-left: @size_XS;
	}

	&:hover{
		background-color: @color_temp;
	}

	&:focus{
		box-shadow: inset 1px 1px 2px @color_shadows;
	}

	/* SIZES */
		/* SMALL */
			&[class*="--S"], &.small{
				font-size: 12px;
				padding:9px 10px;
				font-weight: normal;
			}
		/* LARGE */
			&[class*="--L"], &.large{
				font-size: 14px;
				padding:20px 30px;
			}

	/* COLORS NOT ACTIVE (EXAMPLE)
	&[class*="--green"]{
		background-color: @color_green;
		&:hover{
			background-color:@color_light_green;
		}
	}
	*/
}