﻿/* BASE */
body {
  background-color: #EEE;
  padding: 0 20px;
  font-family: arial;
}
/* BOXES */
.page {
  max-width: 1000px;
  margin: 0 auto;
}
.base-box {
  background-color: #FFF;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
/* FONT-SETTINGS */
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
}
/* PARTS */
.element {
  background-color: red;
  color: #FFF;
}
hr {
  border-color: #FFF;
}
p {
  margin-bottom: 50px;
}
.test {
  margin: 20px !important;
}
.page span {
  display: block;
  background-color: orange;
  padding: 30px;
  margin: 80px;
}
/*# sourceMappingURL=default.css.map */