/*
input{
    font-size: inherit;
    padding: 5px;
}

input[type="text"]{
	outline: none;
	border: 1px solid #d1d1d1;
}

input[type="submit"]{
	background-color: #d1d1d1;
    color: #fff;
    font-weight: @font-weight-bold;
    border: 1px solid #d1d1d1;
}    
*/