table{
	width: 100%;
	thead{
		text-align: left;
		th{
			padding: 5px 4px;
		}
	}
	tbody{
		tr:nth-child(odd){
			background-color: @color_table_odd;
		}
		tr:hover{
			background-color: @color_table_hover;
		}
		td{
			padding:5px 4px;
		}
	}
	&.resp-table{
		@media(max-width:600px){
			table,tr,td,th{
				display: block !important;
			}
			thead{
				display: none;
			}
			td{
				overflow: hidden;
				border-bottom: 1px solid rgba(0,0,0,0.05);
			}
			td:last-child{
				border-bottom: 0;
			}
			tr{
				padding:10px 0;
			}
			td:before{
				content:attr(data-header);
				display: block;
				float: left;
				width:80px;
				color:rgba(0,0,0,0.4);
			}
			td > span{
				display: block;
				overflow:hidden;
			}
		}
	}
}