/* LAYOUT PADDING */
	.no-padding{padding:0 !important;}
	
	/* ALL */
	.padding-XS{		padding: @size_XS;}
	.padding-S{			padding: @size_S;}
	.padding-M{			padding: @size_M;}
	.padding-L{			padding: @size_L;}
	.padding-XL{		padding: @size_XL;}
	.padding-XXL{		padding: @size_XXL;}

	.padding-wide-XL--sm{
		@media(max-width: @screen-sm-min){
			padding-left: @size_XL;
			padding-right: @size_XL;
		}
	}

	/* TOP */
	.padding-top-XS{			padding-top: @size_XS;}
	.padding-top-S{				padding-top: @size_S;}
	.padding-top-M{				padding-top: @size_M;}
	.padding-top-L{				padding-top: @size_L;}
	.padding-top-XL{			padding-top: @size_XL;}
	.padding-top-XXL{			padding-top: @size_XXL;}

	/* BOTTOM */
	.padding-bottom-XS{			padding-bottom: @size_XS;}
	.padding-bottom-S{			padding-bottom: @size_S;}
	.padding-bottom-M{			padding-bottom: @size_M;}
	.padding-bottom-L{			padding-bottom: @size_L;}
	.padding-bottom-XL{			padding-bottom: @size_XL;}
	.padding-bottom-XXL{		padding-bottom: @size_XXL;}



/* LAYOUT MARGIN */
	.no-margin{margin:0 !important;}
		
	/* ALL */
	.margin-XS{		margin: @size_XS;}
	.margin-S{		margin: @size_S;}
	.margin-M{		margin: @size_M;}
	.margin-L{		margin: @size_L;}
	.margin-XL{		margin: @size_XL;}
	.margin-XXL{	margin: @size_XXL;}

	/* TOP */
	.margin-top-XS{			margin-top: @size_XS;}
	.margin-top-S{			margin-top: @size_S;}
	.margin-top-M{			margin-top: @size_M;}
	.margin-top-L{			margin-top: @size_L;}
	.margin-top-XL{			margin-top: @size_XL;}
	.margin-top-XXL{		margin-top: @size_XXL;}
		
	/* BOTTOM */
	.margin-bottom-XS{		margin-bottom: @size_XS;}
	.margin-bottom-S{		margin-bottom: @size_S;}
	.margin-bottom-M{		margin-bottom: @size_M;}
	.margin-bottom-L{		margin-bottom: @size_L;}
	.margin-bottom-XL{		margin-bottom: @size_XL;}
	.margin-bottom-XXL{		margin-bottom: @size_XXL;}
		
	/* LEFT */
	.margin-left-XS{		margin-left: @size_XS;}
	.margin-left-S{			margin-left: @size_S;}
	.margin-left-M{			margin-left: @size_M;}
	.margin-left-L{			margin-left: @size_L;}
	.margin-left-XL{		margin-left: @size_XL;}
	.margin-left-XXL{		margin-left: @size_XXL;}

	/* RIGHT */
	.margin-right-XS{		margin-right: @size_XS;}
	.margin-right-S{		margin-right: @size_S;}
	.margin-right-M{		margin-right: @size_M;}
	.margin-right-L{		margin-right: @size_L;}
	.margin-right-XL{		margin-right: @size_XL;}
	.margin-right-XXL{		margin-right: @size_XXL;}

/* MOBILE DIFFERENCE */
@media (max-width: @screen-sm-min) {
	.margin-bottom-XL{		margin-bottom: @size_L;}
	.no-padding-mobile{ 	padding:0 !important;}
}