/* BACKGROUND GRADIENT */
.background-gradient(@left_color, @left_procentage, @right_color, @right_procentage) {
	background: @left_color; /* Old browsers */
	background: -moz-linear-gradient(left,  @left_color @left_procentage, @right_color @right_procentage); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(@left_procentage,@left_color), color-stop(@right_procentage,@right_color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  @left_color @left_procentage,@right_color @right_procentage); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  @left_color @left_procentage,@right_color @right_procentage); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  @left_color @left_procentage,@right_color @right_procentage); /* IE10+ */
	background: linear-gradient(to right,  @left_color @left_procentage,@right_color @right_procentage); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@left_color', endColorstr='@right_color',GradientType=1 ); /* IE6-9 */
}