﻿/* OVERFLOW-HIDDEN */
.overflow-hidden{
	overflow: hidden;
}

.overflow-show{
    overflow: auto;
}

/* TEXT ALIGNMENTS */
	/* CENTER */
	.text-align-center, .aligncenter{
		text-align: center;
	}
	/* LEFT */
	.text-align-left{
		text-align: left;
	}
	/* RIGHT */
	.text-align-right{
		text-align: right;
	}

	/* UPPERCASE */
	.uppercase{
		text-transform:uppercase;
	}

/* BLOCK ALIGNMENTS */
	/* CENTER */
	.center-block {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	/* PULL LEFT & RIGHT */
	.pull-right {
		float: right !important;
	}
	.pull-left {
		float: left !important;
	}


/* CLICKABLE */
.clickable{
	cursor: pointer;
}

/* REMOVE MARGIN */
.no-margin{
	margin:0;
}
.no-margin-mobile{
	@media (max-width: @screen-sm-min) {
		margin: 0;
	}
}
.remove-margin-last-p p:last-child{
	margin-bottom:0;
}

/* BORDER-RADIUS */
[class*="border-radius"]{
	&[class*="--radius-bottom"]{
		border-radius: 0 0 @border_radius @border_radius;
	}
	&[class*="--all"]{
		border-radius: @border_radius;
	}
}


/* CLEARFIX */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* BLOCK A */
.block-inner-a a{
    display:block;
}

