body{
    -webkit-font-smoothing: antialiased;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
    font-weight: 300;
    font-style: normal;
	line-height: 1.7;
	color: @color_text;
    margin:0;
	background-color: @color_bg;	

	@media(max-width:768px){
		overflow-x: hidden;
		.container{
			padding:0;
		}
	}
}

img{
	display: block;
	max-width: 100%;
}

ul, ol{
	margin:0;
	padding-left: @size_L;
}
