/* TEMP COLOR REMOVE WHEN EDITING */
@color_temp:				red;

/* PAGE */
@color_bg:					#f0f4f5;

/* COLORS */
	/* BASE */
	@color_white:			#FFFFFF;
	@color_black:			#000000;
	@color_gray:			#606f73;
	
	/* BLUE */
	@color_blue:			#8fccdd;
	@color_light_blue:		#95def2;

	/* RED */
	
	/* ORANGE */
	@color_orange:			#db7601;

	/* GREEN */
	@color_green:			#a6ba34;


/* TEXT */
@color_text:				#000000;
@color_heading:				@color_text;
@color_links:				@color_blue;

/* BORDERS */
@color_light_border:		#ededed;

/* TEXT SHADOWS */
@color_shadows:				rgba(0,0,0,0.1);

/* TABLE ROWS */
@color_table_hover:			@color_text;
@color_table_odd:			lighten(@color_text, 52%);

/* MOBILE MENU */
@color_mobile_menu_base:	@color_gray;
@color_mobile_menu_edge:	darken(@color_gray,5%);