@font-icon:	 ac-icons;

@font-face {
  font-family: '@{font-icon}';
  src: url('/fonts/ac-icons.eot');
  src: url('/fonts/@{font-icon}.eot#iefix') format('embedded-opentype'),
       url('/fonts/@{font-icon}.woff') format('woff'),
       url('/fonts/@{font-icon}.ttf') format('truetype'),
       url('/fonts/@{font-icon}.svg#@{font-icon}') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FONTELLO START */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "@{font-icon}";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

/* INCLUDE SPECIAL FONTS FROM FONTELLO IMPORT */
.icon-ac-arrow-right:before { content: '\e800'; } /* '' */
.icon-ac-check:before { content: '\e801'; } /* '' */
.icon-ac-cross:before { content: '\e802'; } /* '' */
.icon-ac-documents:before { content: '\e803'; } /* '' */
.icon-ac-download:before { content: '\e804'; } /* '' */
.icon-ac-helpdesk:before { content: '\e805'; } /* '' */
.icon-ac-key:before { content: '\e806'; } /* '' */
.icon-ac-login:before { content: '\e807'; } /* '' */
.icon-ac-logout:before { content: '\e808'; } /* '' */
.icon-ac-search:before { content: '\e809'; } /* '' */
.icon-ac-user:before { content: '\e80a'; } /* '' */
.icon-ac-users:before { content: '\e80b'; } /* '' */
.icon-ac-key-add:before { content: '\e80c'; } /* '' */
.icon-ac-arrow-down:before { content: '\e80d'; } /* '' */
.icon-ac-arrow-left:before { content: '\e80e'; } /* '' */
.icon-ac-arrow-right-1:before { content: '\e80f'; } /* '' */
.icon-ac-arrow-up:before { content: '\e810'; } /* '' */
.icon-ac-nav:before { content: '\e811'; } /* '' */