h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	margin:0;
	font-weight:700;
	font-style:normal;
	color:@color_heading;
	text-transform: uppercase;
	line-height: 1.3;
	margin: 0 0 10px;
}
h1,.h1{
	font-size: 30px;
	margin-bottom: 10px;
	text-transform:uppercase;
}
h2,.h2{
	font-size: 18px;
	margin-bottom: 8px;
}
h3,.h3{
	font-size: 16px;
	margin-bottom: @size_XS;
}
h4,.h4{
	font-size: 13px;
	margin-bottom: @size_XS;
}

a{
	color:@color_links;
	font-weight:700;
	text-decoration:none;
}

p{
	margin:0 0 15px;
}

.lead{
	font-size: 16px;
	line-height:1.5;
	font-style: italic;
}

.font-normal{
    font-weight:300;
}
.font-bold{
    font-weight:700;
}
.font-italic{
	font-weight:300;
	font-style:italic;
}