/* SIZES */
	@size_XS:					5px;
	@size_S:					10px;
	@size_M:					15px;
	@size_L:					20px;
	@size_XL:					30px;
	@size_XXL:					40px;

/* BORDER RADIUS */
	@border_radius:				6px;

/* BREAKPOINTS */
    @screen-xl-min:				1440px;
	@screen-lg-min:				1200px;
	@screen-md-min:				992px;
	@screen-sm-min:				767px;
	@screen-xs-min:				500px;