﻿/* VARIABLER */
@color_green:           #75ab1c;
@color_blue:            #6bc6d6;
@color_orange:          #f0b259;
@size_S:                5px;


/* FUNKTIONER */
@size_L:                @size_S + 5px;
@color_light_blue:      lighten(@color_blue, 20%);
@color_dark_orange:     darken(@color_orange, 20%);    




header{
    .hejhopp-jag-heter-xxx-och-hejopp{
        padding:20px 0;
        float:left;
        a, span{
            display:block;
        }
    }
    nav{
        ul{
            list-style:none;
        }
        a{
            display:block;
        }
    }
}





/* BASE */
body{
	background-color: #EEE;
	padding: 0 20px;
	font-family: arial;
}

/* BOXES */
.page{
	max-width: 1000px;
	margin: 0 auto;
}
.base-box{
	background-color: #FFF;
	padding:20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

/* FONT-SETTINGS */
h1,h2,h3,h4,h5,p{
	margin-top:0;
}

hr{
	border-color: #FFF;
}