﻿body {
  background-color: #EEE;
  padding: 0 20px;
  font-family: arial;
}
/* BOXES */
.page {
  max-width: 1040px;
  margin: 0 auto;
}
.base-box {
  background-color: #DDD;
}
.image-box {
  overflow: hidden;
  padding: 10px;
}
.image-box .item {
  width: 150px;
  height: 150px;
  float: left;
  margin: 10px;
  background-size: cover;
}
/*# sourceMappingURL=default.css.map */