﻿.image-box{
    /* TA BORT , enbart här för att visa bakgrundsfärg */
    height:40px;
    /* SLUT TA BORT */
    overflow:hidden;
    padding:10px;
    .item{
        width:150px;
        height:150px;
        float:left;
        margin:10px;
        background-size:cover;
    }
}